@model Estacionamento.Web.ViewModels.MarcarSaidaViewModel

<form asp-action="MarcarSaida" asp-controller="Estacionamento" method="post" class="form-inline">
    <label asp-for="Placa">Marcar Saída</label>
    <div class="input-group">
        <input asp-for="Placa" class="form-control" maxlength="8" placeholder="Placa" />
        <button type="submit" class="btn btn-secondary">Marcar Saída</button>
    </div>
    <span asp-validation-for="Placa" class="mensagem-erro"></span>
</form>
